{% load static %}
{% load thumbnail %}
<article class="index-news__slide swiper-slide">
  <div class="index-news__card card-news">
    {% if post.image %}
    <a href="{{ post.get_absolute_url }}" class="card-news__image">
      <img src="{{ post.image.url }}" alt="{{ post.name }}" title="{{ post.name }}">
    </a>
    {% else %}
    <a href="{{ post.get_absolute_url }}" class="card-news__image">
      <img src="{% static 'theme/img/news.jpg' %}" alt="{{ post.name }}" title="{{ post.name }}">
    </a>
    {% endif %}
    <div class="card-news__content">
      {% if post.name %}
        <h3 class="card-news__title">
          <a href="{{ post.get_absolute_url }}" class="">
            {{ post.name }}
          </a>
        </h3>
      {% endif %}
      {% if post.description %}
        <p class="card-news__descr">
          {{ post.description|safe|truncatechars:25 }}
        </p>
      {% endif %}
      <p class="card-news__date">28 сентября</p>
      <a href="#" class="card-news__link">
        <img src="{% static 'theme/img/icon/arrow-long.svg' %}" alt="">
      </a>
    </div>
  </div>
</article>