{% load static %} {% load thumbnail %}
<div class="best-choice__item card-product">
  <a href="{{ product.get_absolute_url }}" class="card-product__image">
    {{ product.image }}
    {% if product.image %}
    {% thumbnail product.image "x334" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}"  class="image" />
    {% endthumbnail %}
    {% else %}
    <img src="{{ product.image.url }}" class="image" />
    {% endif %}
  </a>
  <!--  <div class="card-product__colors">-->
  <!--    <button class="card-product__color _active" style="background-color: #C2B46B"-->
  <!--      data-image="{% static 'theme/mb/images/product/dm15-belenyi.png' %}"></button>-->
  <!--    <button class="card-product__color" style="background-color: #E0CBCB"-->
  <!--      data-image="{% static 'theme/mb/images/product/dm16-grey.png' %}"></button>-->
  <!--    <button class="card-product__color" style="background-color: #C2B46B"-->
  <!--      data-image="{% static 'theme/mb/images/product/dm17-blanko.png' %}"></button>-->
  <!--    <button class="card-product__color" style="background-color: #7D7C56"-->
  <!--      data-image="{% static 'theme/mb/images/product/dm18-moreny.png' %}"></button>-->
  <!--    <button class="card-product__color" style="background-color: #E0CBCB"-->
  <!--      data-image="{% static 'theme/mb/images/product/dm16-grey.png' %}"></button>-->
  <!--    <div class="card-product__color-count">+5</div>-->
  <!--  </div>-->
  <h3 class="card-product__title">
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
  </h3>
  <div class="card-product__bottom">
    <div class="card-product__price">
      {% if product.sale %}
      {{ product.sell_price }} ₽
      {% else %}
      {{ product.price }} ₽
      {% endif %}
      {% if product.sale %}<s>{{ product.price }} ₽</s>{% endif %}
    </div>
    <button class="card-product__btn" data-popup="leave-request" data-name="{{ product.name }}">Оставить заявку</button>
  </div>
  {% if product.installment %}
    <p class="card-product__descr">{{ product.installment }}</p>
  {% endif %}
</div>