{% load static %} {% load thumbnail %}
<div class="best-choice__item card-product">
  <a href="{{ product.get_absolute_url }}" class="card-product__image">
    {% if product.image %}
    {% thumbnail product.image "x334" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}"  class="image" alt="{{ product.name }} - {{ product.category }}" />
    {% endthumbnail %}
    {% endif %}
  </a>
  <h3 class="card-product__title">
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
  </h3>
  <div class="card-product__bottom">
    <div class="card-product__price">
      {% if product.category.view_price != "no" %}
        {% if product.sale %}
          {{ product.sell_price }} ₽
        {% else %}
          {% if product.price  %}
            {{ product.price }} ₽
          {% endif %}
        {% endif %}
        {% if product.sale %}<s>{{ product.price }} ₽</s>{% endif %}
      {% endif %}
    </div>
    {% if product.category.name_btn == "more" %}
    <button class="card-product__btn" data-popup="leave-request" data-name="{{ product.name }}">Оставить заявку</button>
    {% else %}
    <button class="card-product__btn" data-popup="leave-request" data-name="{{ product.name }}">Узнать цену</button>
    {% endif %}
  </div>
  {% comment %}{% if product.category.view_price != "no" %}
  <p class="card-product__descr">кредит на 4/6/10 месяцев</p>
  {% endif %}{% endcomment %}
</div>