.breadcrumbs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;


  //.breadcrumbs__item

  &__item{
    padding-right: 10px;
    color: rgb(134, 134, 134);
    font-size: 16px;
    line-height: 150%;
    @media screen and (max-width: 570px){
      font-size: 12px;
      padding-right: 5px;
    }

    & + &{
      &::before{
        content: "/";
        font-size: inherit;
        padding-right: 10px;

        @media screen and (max-width: 570px){
          padding-right: 5px;
        }
      }
    }
  }
}