.form {

  // .form__input

  &__input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid rgba($color: $mainColor, $alpha: .3);

    &:focus {
      outline: none;
      border-color: rgba($color: $mainColor, $alpha: .8);
    }

    &--hidden{
      display: none;
    }
  }

  // .form__button

  &__button {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: rgba($color: #000000, $alpha: 1.0);

    color: rgba($color: #ffffff, $alpha: 1.0);
    font-size: 16px;
    font-weight: 600;
  }
}