.card-product {
  display: flex;
  flex-direction: column;
  gap: 12px;

  // .card-product__image

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 230, 230);
    padding: 20px 0px;
    position: relative;

    img {
      max-width: 100%;
      //width: 142px;
      height: 302px;
    }
  }

  // .card-product__colors

  &__colors {
    display: flex;
    align-items: center;
    margin: 12px 0px;
  }

  // .card-product__color

  &__color {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 1px solid rgb(138, 138, 138);
      opacity: 0;
      transition: $animation_speed;
    }

    &._active {
      &::before {
        opacity: 1;
      }
    }
  }

  // .card-product__color-count

  &__color-count {
    color: rgb(184, 184, 184);
    font-size: 12px;
  }

  // .card-product__title

  &__title {
    font-size: 22px;
    line-height: 150%;
    flex: 1 1 auto;
  }

  // .card-product__descr

  &__descr {
    font-size: 12px;
    color: rgb(145, 145, 145);
    line-height: 150%;
  }

  // .card-product__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  // .card-product__price

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 140%;

    s {
      color: rgb(184, 184, 184);
      font-size: 12px;
      line-height: 150%;
    }
  }

  // .card-product__btn

  &__btn {
    text-decoration: underline;
  }
}