.search-result{
  position: absolute;
  top: 100%;
  right: 0%;
  display: none;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
  width: calc(100% - 150px);
  padding: 30px;
  z-index: 99;

  //.search-result__item

  &__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  //.search-result__image

  &__image{
    width: 50px;
    height: 120px;

    img{
      width: 100%;
      height: 100%;
      //object-fit: cover;
    }
  }

  //.search-result__link

  &__link {}

  //.search-result__price

  &__price {}

}

