{% load static %}
<div class="slider-full swiper">
  <div class="slider-full__wrapper swiper-wrapper">
    <div class="slider-full__slide swiper-slide" style="background-image: url({% static 'theme/img/main-bg.jpeg' %})">
      <div class="container">
        <div class="slider-full__slide-inner">
          <h2 class="slider-full__title">Хотите заказать качественные двери ?</h2>
          <p class="slider-full__text">Тогда наше предложение вас точно заинтересует.</p>
          <a href="#" class="slider-full__link btn">Перейти в каталог</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-full__pagination swiper-pagination"></div>
</div>