{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="news">
    <div class="container">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1"/>
        </a>
        <span itemprop="itemListElement" itemscope=""
              itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Услуги
          <meta itemprop="position" content="2"/>
        </span>
      </div>
      <h2 class="ews__title title-h2">Услуги</h2>
      <div class="news__inner">
        {% if services %}
        <div class="news__grid">
          {% for service in services%}
          <div class="index-news__card card-news">
            <a href="{{ service.get_absolute_url }}" class="card-news__image">
              {% if  service.image %}
              <img src="{{ service.image.url }}" alt="">
              {% endif %}
            </a>
            <div class="card-news__content">
              <h3 class="card-news__title">
                <a href="{{ service.get_absolute_url }}" class="">
                  {{ service.name }}
                </a>
              </h3>
            </div>
            </article>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
  </section>
</main>
{% endblock %}