// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/swiper/swiper';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";
@import "_mixins";
@import "./base/_null";

@import "./includes/_header";
@import "./includes/_footer";
@import "./includes/_popup";

@import "global";
@import "./pages/home";
@import "./pages/about";
@import "./pages/post";
@import "./pages/_service";
@import "./pages/_category";
@import "./catalog/product";
@import "./catalog/category-details";

// Стили секций
@import "./section/slider-full";
@import "./section/image-full-image";
@import "./section/reviews";
@import "./section/news";
@import "./section/advantages";
@import "./section/selection";
@import "./section/work";
@import "./section/questions";
@import "./section/contact";
@import "./section/banner";
@import "./section/_condition";

@import "./components/breadcrumbs";
@import "./components/product-card";
@import "./components/form";
@import "./components/search-result";
@import "./components/_pagging";

@import "./users/login";