{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ about_page.meta_title }}{% endblock %}
{% block description %}{{ about_page.meta_description }}{% endblock %}
{% block keywords %}{{ about_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="about">
    <div class="container">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1"/>
        </a>
        <a href="{% url 'about' %}" itemprop="itemListElement" itemscope=""
           itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          О компании
          <meta itemprop="position" content="2"/>
        </a>
      </div>
      <div class="page-top">
        <div class="page-text">
          {% if about_page.meta_h1 %}<h1>{{ about_page.meta_h1 }}</h1>{% endif %}
          {{ about_page.description|safe }}
        </div>
        <div class="page-nav">
          <ul>
            <li class="active"><a href="{% url 'about' %}">О компании</a></li>
            <li><a href="{% url 'delivery' %}">Доставка и оплата</a></li>
            <li><a href="{% url 'blog' %}">Новости</a></li>
            <li><a href="{% url 'works' %}">Наши работы</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="image-full-screen" style="background-image: url({% if about_page.image %}{{ about_page.image.url }}{% else %}{% static 'theme/img/slider-3.jpeg' %}{% endif %})"></div>
    <div class="container">
      <div class="page-text">
        {{ about_page.description_two|safe }}
      </div>
    </div>
  </section>

  <section class="index-reviews section--padded">
    <div class="index-reviews__inner">
      <h2 class="index-reviews__title title-h2">Люди выбирают нас</h2>
      <div class="index-reviews__slider swiper">
        <div class="index-reviews__wrapper swiper-wrapper">
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}