{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="about section--padded">
    <div class="container">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1"/>
        </a>
        <a href="{% url 'about' %}" itemprop="itemListElement" itemscope=""
           itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          О компании
          <meta itemprop="position" content="2"/>
        </a>
      </div>
      <div class="page-top">
        <div class="page-text">
          <h1>О Компании</h1>
          <p>
            Ремонт любых помещений: жилых, офисных, коммерческих, как правило, начинают с установки входных дверей.
            Компания «Maximum» предоставляет вашему вниманию большой выбор по доступной цене. Хотите заказать
            в Самаре качественные двери недорого? Тогда наше предложение вас точно заинтересует.
          </p>
          <p>
            Поставляемая продукция отличается прочностью, надежностью и долговечностью благодаря продуманной
            конструкции, применению высококачественных материалов, запирающих механизмов и фурнитуры. Дверное полотно
            состоит из листа стали (толщиной от 1,5 мм) с рельефной поверхностью, которую формируют методом холодной
            штамповки. Листы прочно приварены к дверному каркасу при помощи лазерной сварки (не точечно, а по всему
            периметру).
          </p>
        </div>
        <div class="page-nav">
          <ul>
            <li class="active"><a href="{% url 'about' %}">О компании</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="{% url 'blog' %}">Новости</a></li>
            <li><a href="#">Наши работы</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="image-full-screen" style="background-image: url({% static 'theme/img/slider-3.jpeg'  %})"></div>
    <div class="container">
      <div class="page-text">
        <p>
          Наши двери успешно противостоят негативному воздействию атмосферных явлений благодаря специальному покрытию,
          которое наносится в несколько слоев: грунтовка, краска с термической обработкой, обжиг в печи при температуре
          в 1000 градусов, атмосфероустойчивый лак.
        </p>
        <p>
          Листая каталоги, представленные на сайте, вы сможете выбрать модель, подходящую по всем параметрам, и заказать
          ее в Самаре по разумной цене. Покупая двери от «Maximum», вы делаете выбор в пользу высокого качества,
          безопасности, надежности, а также стильного дизайна.
        </p>
        <p>
          Будучи производителями, мы гарантируем бескомпромиссное качество изделий и конкурентные цены на весь
          ассортимент. Мы не работаем с посредниками, не используем дополнительные коммерческие наценки – поиски более
          выгодного предложения в Самаре равносильны потере времени.
        </p>
        <p>
          Наша продукция оснащается 2-мя или 3-мя петлями на выбор, которые невозможно срезать при взломе. Замки разных
          систем и качества.
        </p>
        <p>
          Допустима перекодировка запирающего механизма. Она происходит автоматически после применения перекодирующего
          ключа и проворачивания его на 2 оборота снаружи и с внутренней стороны. Каждый замок поставляется с 6 ключами
          с лазерной обработкой, среди них: 5 — для пользователей, 2 — для монтажа, 1 – для перекодировки.
        </p>
        <p>
          Прочные, надежные, взломостойкие двери «Maximum» — гарантия безопасности вашего жилого или рабочего
          пространства.
        </p>
        <h2>Наполнение</h2>
        <p>
          Дверное полотно укреплено 3-мя ребрами жесткости в формы буквы П (толщина 2 мм). Заполнено 2-мя плитами
          минеральной ваты, проложенными волокнистым слоем толщиной 5 мм. По периметру использованы специальные
          уплотнители из резины. Один из них находится со стороны открытия двери, дополнен магнитной лентой. В
          результате достигаются высокие показатели тепло- и звукоизоляции, пыле-, воздухонепроницаемости.
        </p>
        <h2>Производство компании «Maximum»</h2>
        <p>
          Мы поставляем высококачественные входные двери по цене производителя. Наша продукция отличается
          многочисленными эксплуатационными преимуществами и актуальным дизайном. По запросу мы изготавливаем двери, как
          наружного, так и внутреннего открывания, с 2-мя створками, фрамугой и/или полкой. Благодаря применению
          передового гибочного оборудования мы способны реализовать дизайн-проект любой сложности. Изделия производятся
          в соответствии с ГОСТом Р 51072—97 и ГОСТом 31173—2003.
        </p>
        <p><b>Основными достоинствами являются:</b></p>
        <ul>
          <li>толщина стали 2 мм</li>
          <li>замки марки Guardian</li>
          <li>утепление короба</li>
          <li>внутренние панели толщиной 6-16 мм</li>
          <li>противосъемные штыри</li>
          <li>оформление, цветовое решение дверных полотен на выбор</li>
          <li>многоступенчатый контроль ОТК</li>
        </ul>
        <br>
        <br>
        <p>
          Мы предлагаем купить входные двери в Самаре недорого, оказываем услуги по установке дверных конструкций, а
          также отделке откосов.
        </p>
      </div>
    </div>
  </section>

  <section class="index-reviews section--padded">
    <div class="index-reviews__inner">
      <h2 class="index-reviews__title title-h2">Люди выбирают нас</h2>
      <div class="index-reviews__slider swiper">
        <div class="index-reviews__wrapper swiper-wrapper">
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="index-news section--padded">
    <div class="container">
      <div class="index-news__inner">
        <h2 class="index-news__title title-h2">Новости</h2>
        {% if posts %}
        <div class="index-news__slider swiper">
          <div class="index-news__wrapper swiper-wrapper">
            {% for post in posts %}
            {% include "../components/blog-card.html" with post=post %}
            {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="empty-block">
          <p>Тут пока пусто</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}