{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}

{% block title %}
Видео о сертификате и благодарности
{% endblock %}

{% block description %}
Видео о сертификате и благодарности клиентам компании Maximum
{% endblock %}


{% block keywords %}
видео
{% endblock %}

{% block content %}
<main class="page">
  <div class="container" style="margin-top: 108px;">
    <div class="breadcrumbs" style="margin-top: 10%;" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1">
        </a>
        <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Милосердие
          <meta itemprop="position" content="2">
        </span>
    </div>
    <h1 style="margin-bottom: 5%;font-size: 26px;margin-top: 4%;">Видео наших клиентов</h1>
    <div>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video1.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video2.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video3.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video6.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video7.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video4.mp4" width="300" height="440"></video>
      <video style="margin-bottom: 1%;" controls="" loop="" muted="" src="/video/video5.mp4" width="300" height="440"></video>
    </div>
  </section>
</main>
{% endblock %}