{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ work_page.meta_title }}{% endblock %}
{% block description %}{{ work_page.meta_description }}{% endblock %}
{% block keywords %}{{ work_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="works">
    <div class="container">
      <div class="works__inner">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'works' %}" itemprop="itemListElement" itemscope=""
             itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
            Наши работы
            <meta itemprop="position" content="2"/>
          </a>
        </div>
        <h1 class="works__title title-h2">{% if work_page.meta_h1 %}{{ work_page.meta_h1 }}{% else %}Наше производство{% endif %}</h1>
        {% if works_list %}
        <div class="works__production production">
          {% for item in works_list %}
          <div class="production__item">
            <div class="production__image">
              <img src="{{ item.image.url }}" alt="">
            </div>
            <div class="production__cotent">
              <p class="production__title">{{ item.name }}</p>
              <p class="production__text">
               {{ item.text }}
              </p>
            </div>

          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if works %}
        <h2 class="works__title title-h2">Наши работы</h2>
        <div class="works__grid">
          {% for work in works %}
          <div class="works__item" style="background-image: url({% if work.image %}{{ work.image.url }}{% endif %})"></div>
          {% endfor %}
        </div>
        {% endif %}
        <!--        <a href="" class="works__btn btn btn&#45;&#45;shadow">Смотреть все</a>-->
      </div>
    </div>
  </section>
</main>
{% endblock %}