{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="about section--padded">
    <div class="container">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1"/>
        </a>
        <a href="{% url 'delivery' %}" itemprop="itemListElement" itemscope=""
           itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Доставка и оплата
          <meta itemprop="position" content="2"/>
        </a>
      </div>
      <div class="page-top">
        <div class="page-text">
          <h1>Доставка и оплата</h1>
          <p>
            Предлагаем воспользоваться услугами автопарка компании «Максимум Двери» для своевременной доставки готовой
            входной двери к месту ее монтажа.
          </p>

        </div>
        <div class="page-nav">
          <ul>
            <li><a href="{% url 'about' %}">О компании</a></li>
            <li class="active"><a href="{% url 'delivery' %}">Доставка и оплата</a></li>
            <li><a href="{% url 'blog' %}">Новости</a></li>
            <li><a href="#">Наши работы</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="page-text">
        <p>
          <b>Преимущества доставки нашими силами</b>
        </p>
        <ul>
          <li>Аккуратная упаковка двери обеспечивает ее транспортировку без риска механических повреждений</li>
          <li>
            погрузо-разгрузочные работы в цеху и на месте установки осуществляются нашими работниками. Это гарантирует
            аккуратность и отсутствие каких-либо проблем для вас
          </li>
          <li>
            Строгое соблюдение сроков доставки. Даже в сложных дорожных условиях мы стремимся максимально быстро
            привезти дверь, чтобы не заставлять вас ждать. Доставка нашими силами – экономия вашего времени и нервов
          </li>
          <li>
            Доставка всех необходимых компонентов. Огромный опыт работ наших специалистов исключает случаи приостановки
            работ из-за отсутствия каких-либо комплектующих.
          </li>
        </ul>
        <br><br>
        <p>
          И главное: на все выполненные нами работы мы предоставляем гарантию качества. А значит, сотрудничая с
          «Максимум Двери», вы получаете не только качественную дверь, но и гарантированно аккуратную доставку +
          профессиональную установку.
        </p>
      </div>
    </div>
  </section>

  <section class="index-reviews section--padded">
    <div class="index-reviews__inner">
      <h2 class="index-reviews__title title-h2">Люди выбирают нас</h2>
      <div class="index-reviews__slider swiper">
        <div class="index-reviews__wrapper swiper-wrapper">
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
          <div class="index-reviews__slide swiper-slide">
            <div class="index-reviews__item reviews">
              <div class="reviews__top">
                <div class="reviews__info">
                  <img src="{% static 'theme/img/reviews-avatar.png' %}" class="reviews__avatar">
                  <p class="reviews__name">Василиса Назарова</p>
                </div>
                <div class="reviews__logo">
                  <img src="{% static 'theme/img/icon/2gis.svg' %}" alt="">
                </div>
              </div>
              <p>
                Второй раз закупаемся в максимуме)) Первые двери уже стоят года 3, очень довольны качеством, ничего не
                треснуло, не отклеилось. Определенно первоклассные двери! Магазин рекомендуем
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}