{% extends "base.html" %} {% load static %} {% load thumbnail %}
{% block title %}

{% endblock %}
{% block description %}

{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}

<main class="page">
  <div class="product-details">
    <div class="container">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="{% url 'category' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
          class="breadcrumbs__item">
          Каталог
          <meta itemprop="position" content="1" />
        </a>
        <a href="{{ product.category.get_absolute_url }}" itemprop="itemListElement" itemscope=""
          itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Категория 1
          <meta itemprop="position" content="2" />
        </a>
        <a href="{{ product.category.get_absolute_url }}" itemprop="itemListElement" itemscope=""
          itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Название товара 1
          <meta itemprop="position" content="3" />
        </a>
      </div>
      <div class="product-details__card product-info">
        <h1 class="product-info__title">{{ product.name }}</h1>
<!--        <p class="product-info__subtitle">Guardian 1234. Серый металл бежевый дуб</p>-->
        <div class="product-info__row">
          <div class="product-info__col">
            <div class="product-info__image">
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            <div class="product-info__price-panel">
              <div class="product-info__price">
                <div class="product-info__price-inner">
                  {% if product.sale %}
                  <span class="product-info__price-value">{{ product.sell_price }} ₽</span>
                  <s class="product-info__price--old-price">{{ product.price }} ₽</s>
                  {% else %}
                  <span class="product-info__price-value">{{ product.price }} ₽</span>
                  {% endif %}
                </div>
                <div class="product-info__price-sale">
                  <span>Акция</span>
                  <p class="product-info__price-sale-info">
                    Скидка 20% на все товары в разделе "Входные двери"
                  </p>
                </div>
              </div>
              <div class="product-info__actions">
                <button type="button" class="product-info__btn _btn" data-popup="leave-request">Оставить заявку</button>
                <button type="button" class="product-info__btn _btn">Заказать звонок</button>
              </div>
              <div class="product-info__properties">
                <div class="product-info__properties-text">
                  <span>Артикул</span>
                  <span>1234</span>
                </div>
                <div class="product-info__properties-text">
                  <span>Отделка</span>
                  <span>Серый металл</span>
                </div>
                <div class="product-info__properties-text">
                  <span>Вставка</span>
                  <span>Бежевый дуб</span>
                </div>
                <div class="product-info__properties-text">
                  <span>Портал</span>
                  <span>Классика</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-info__col">
            <div class="product-info__param tab-params">
              <div class="tab-params__trigger">
                <div class="tab-params__trigger-inner">
                  <button type="button" data-tab="1" class="tab-params__tab _active">Характеристики</button>
                </div>
                <div class="line-active"><span id="line"></span></div>
              </div>
              <div class="tab-params__content">
                <div class="tab-params__panel _active" data-tab="1">
                  <p><b>Название :</b>описание</p>
                  <p><b>Название :</b>описание</p>
                  <p><b>Название :</b>описание</p>
                  <p><b>Название :</b>описание</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="related-products">
        <h2 class="related-products__title">Товары для вас</h2>
        <div class="best-choice__grid products-list">
          <div class="products-list__item card-product">
            <div class="card-product__image">
              <img src="{% static 'theme/mb/images/product/dm15-belenyi.png' %}" alt="" class="image">
            </div>
            <div class="card-product__colors">
              <button class="card-product__color _active" style="background-color: #C2B46B"
                data-image="{% static 'theme/mb/images/product/dm15-belenyi.png' %}"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"
                data-image="{% static 'theme/mb/images/product/dm16-grey.png' %}"></button>
              <button class="card-product__color" style="background-color: #C2B46B"
                data-image="{% static 'theme/mb/images/product/dm17-blanko.png' %}"></button>
              <button class="card-product__color" style="background-color: #7D7C56"
                data-image="{% static 'theme/mb/images/product/dm18-moreny.png' %}"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"
                data-image="{% static 'theme/mb/images/product/dm16-grey.png' %}"></button>
              <div class="card-product__color-count">+5</div>
            </div>
            <h3 class="card-product__title">Guardian 1234</h3>
            <p class="card-product__descr">Серый металл бежевый дуб</p>
            <div class="card-product__bottom">
              <div class="card-product__price">32990 ₽ <s>40990 ₽</s></div>
              <button class="card-product__btn">Оставить заявку</button>
            </div>
          </div>
          <div class="products-list__item card-product">
            <div class="card-product__image">
              <img src="{% static 'theme/mb/images/product/dm16-grey.png' %}" alt="">
            </div>
            <div class="card-product__colors">
              <button class="card-product__color _active" style="background-color: #C2B46B"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"></button>
              <button class="card-product__color" style="background-color: #C2B46B"></button>
              <button class="card-product__color" style="background-color: #7D7C56"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"></button>
              <div class="card-product__color-count">+25</div>
            </div>
            <h3 class="card-product__title">Guardian 1234</h3>
            <p class="card-product__descr">Серый металл бежевый дуб</p>
            <div class="card-product__bottom">
              <div class="card-product__price">32990 ₽ <s>40990 ₽</s></div>
              <button class="card-product__btn">Оставить заявку</button>
            </div>
          </div>
          <div class="products-list__item card-product">
            <div class="card-product__image">
              <img src="{% static 'theme/mb/images/product/dm17-blanko.png' %}" alt="">
            </div>
            <div class="card-product__colors">
              <button class="card-product__color _active" style="background-color: #C2B46B"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"></button>
              <button class="card-product__color" style="background-color: #C2B46B"></button>
            </div>
            <h3 class="card-product__title">Guardian 1234</h3>
            <p class="card-product__descr">Серый металл бежевый дуб</p>
            <div class="card-product__bottom">
              <div class="card-product__price">32990 ₽ <s>40990 ₽</s></div>
              <button class="card-product__btn">Оставить заявку</button>
            </div>
          </div>
          <div class="products-list__item card-product">
            <div class="card-product__image">
              <img src="{% static 'theme/mb/images/product/dm18-moreny.png' %}" alt="">
            </div>
            <div class="card-product__colors">
              <button class="card-product__color _active" style="background-color: #C2B46B"></button>
              <button class="card-product__color" style="background-color: #E0CBCB"></button>
              <button class="card-product__color" style="background-color: #C2B46B"></button>
              <button class="card-product__color" style="background-color: #7D7C56"></button>
            </div>
            <h3 class="card-product__title">Guardian 1234</h3>
            <p class="card-product__descr">Серый металл бежевый дуб</p>
            <div class="card-product__bottom">
              <div class="card-product__price">32990 ₽ <s>40990 ₽</s></div>
              <button class="card-product__btn">Оставить заявку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}