.about {
  padding: 110px 0 0px;
  border-bottom: 1px solid rgb(203, 203, 203, .7);

  .image-full-screen{
    margin: 0px 0px 25px;
  }
}

.page-top{
  display: flex;
  align-items: center;
  gap: 240px;

  @media screen and (max-width: 1200px){
    gap: 150px;
  }

  @media screen and (max-width: 992px){
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

.page-nav{

  @media screen and (min-width: 992px) {
    flex: 0 0 25%
  }

  @media screen and (max-width: 992px){
    margin-bottom: 60px;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  li{
    &.active{
      a{
        text-decoration: underline;
        text-underline-offset: 5px;
        color: rgba($color: #000000, $alpha: 1);
      }
    }
  }

  a{
    font-size: 20px;
    color: rgba($color: #000000, $alpha: .7);
    text-underline-offset: 5px;
    transition: .3s;

    @media (hover:hover) {
     &:hover{
       text-decoration: underline;
     }
    }
  }
}