.best-choice {

  // .best-choice__container

  &__container {
    max-width: 1365px;
  }

  // .best-choice__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  // .best-choice__title

  &__title {
    text-align: center;
    margin-bottom: clamp(40px, 4vw, 60px);
  }

  // .best-choice__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 67px;
    margin-bottom: 80px;
    width: 100%;
  }

  // .best-choice__item

  &__item {}

  // .best-choice__btn

  &__btn {
    padding: 25px 20px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1), 0px 6px 6px 0px rgba(66, 66, 66, 0.09), 0px 15px 9px 0px rgba(66, 66, 66, 0.05), 0px 26px 10px 0px rgba(66, 66, 66, 0.01), 0px 40px 11px 0px rgba(66, 66, 66, 0);

  }
}

.card-product {

  // .card-product__image

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 230, 230);
    padding: 49px 74px;
    position: relative;

    img {
      width: 142px;
      height: 302px;
    }
  }

  // .card-product__colors

  &__colors {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0px;
  }

  // .card-product__color

  &__color {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 1px solid rgb(138, 138, 138);
      opacity: 0;
      transition: $animation_speed;
    }

    &._active {
      &::before {
        opacity: 1;
      }
    }
  }

  // .card-product__color-count

  &__color-count {
    color: rgb(184, 184, 184);
    font-size: 12px;
  }

  // .card-product__title

  &__title {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 9px;
  }

  // .card-product__descr

  &__descr {
    color: rgb(145, 145, 145);
    line-height: 150%;
    margin-bottom: 40px;
  }

  // .card-product__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  // .card-product__price

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 140%;

    s {
      color: rgb(184, 184, 184);
      font-size: 12px;
      line-height: 150%;
    }
  }

  // .card-product__btn

  &__btn {
    text-decoration: underline;
  }
}