.post {

}

.post-banner {
  margin-top: 90px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-text{

  .container{
    @media screen and (min-width: 1200px){
      max-width: 1000px;
    }
  }
}
