{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ service.meta_title }}{% endblock %}
{% block description %}{{ service.meta_description }}{% endblock %}
{% block keywords %}{{ service.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="banner post-banner"
           style="background-image: url({% if service.image %}{{service.image.url}}{% else %}{% static 'theme/img/news.jpeg' %}{% endif %});">
    <div class="container">
      <div class="banner__inner">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'service' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Услуги
            <meta itemprop="position" content="2"/>
          </a>
          <span itemprop="itemListElement" itemscope=""
                itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          {{ service.name }}
          <meta itemprop="position" content="4"/>
        </span>
        </div>
        <h1 class="banner__title title-h2">{% if service.meta_h1 %}{{ service.meta_h1 }}{% else %} {{ service.name }}{%
          endif %}</h1>
      </div>
    </div>
  </section>
  <div class="post-text page-text section--padded">
    <div class="container">
      {% if service.description %}
      {{ service.description|safe }}
      {% else %}
      Пусто
      {% endif %}
    </div>
  </div>
  <section class="index-questions" style="background-image: url({% static 'theme/img/questions.jpeg' %})">
    <div class="container">
      <div class="index-questions__inner">
        <div class="index-questions__body">
          <h2 class="index-questions__title">Остались <br>вопросы ?</h2>
          <p class="index-questions__subtitle">
            Закажите звонок или обратитесь в чат на нашем сайте, менеджеры помогут вам выбрать лучший вариант для вас
          </p>
          <div class="index-questions__buttons">
            <button class="index-questions__btn index-questions--order" data-popup="leave-request">Оставить заявку
            </button>
            <button class="index-questions__btn index-questions--callback" data-popup="callback">Заказать звонок
            </button>
          </div>
          <div class="index-questions__social">
            <a href=" https://t.me/+79879826810" target="_blank"><img src="{% static 'theme/img/icon/telegram.svg' %}"
                                                                      alt="Двери Максимум телеграмм"></a>
            <a href="https://vk.com/maximum2022" target="_blank"><img src="{% static 'theme/img/icon/vk.svg' %}"
                                                                      alt="Двери Максимум вк"></a>

            <a href="https://rutube.ru/channel/6578546/" target="_blank"><img
                src="https://static.rutube.ru/static/img/favicon-icons/v3/icon.svg"
                alt="Двери Максимум rutube" style="max-width: 35px;"></a>
            <p>
              Подписывайтесь на нас, чтобы быть в курсе всех новостей и акций.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}