<section class="contact section--padded">
  <div class="container">
    <div class="contact__top">
      <h2 class="contact__title title-h2">Мы ждем вас в нашем офисе</h2>
      <p class="contact__subtitle">
        Будучи производителями, мы гарантируем бескомпромиссное качество изделий и конкурентные цены на весь
        ассортимент. Мы не работаем с посредниками, не используем дополнительные коммерческие наценки - поиски более
        выгодного предложения в Самаре равносильны потере времени
      </p>
    </div>
    <div class="contact__inner">
      <div class="contact__search">
        <!--          <form action="#" class="contact__form form">-->
        <!--            <input type="text" placeholder="Поиск адреса" name="search-city" class="form__input contact__input">-->
        <!--          </form>-->
        <div class="contact__address contact-address">
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Самара, ул.Карла Маркса, 192, головной офис</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7 (987) 955-10-22</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Тольятти</p>
            <p class="contact-address__address">Г. Тольятти</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7 (987) 955-10-22</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Кинель</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(987)944-94-17</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Нефтегорск</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(917)012-05-30</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Пос. Суходол</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(917)819-95-85</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Новокуйбышевск</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(987)955-10-22</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Отрадный</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(987)944-94-17</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Чапаевск</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(917)819-95-85</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
          <div class="contact-address__card">
            <p class="contact-address__name">Офис продаж Максимум</p>
            <p class="contact-address__address">Г. Безенчук</p>
            <a href="tel:+79998765543" class="contact-address__phone">+7(917)819-95-85</a>
            <p class="contact-address__work-time">Вт-сб 09:00-18:00, Вс-пн выходной</p>
          </div>
        </div>
      </div>
      <div class="contact__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A75ce917ada534b864e9cc9234414de97d2a68069a38bedb50d8bae5c2029b6c5&amp;source=constructor"
          width="100%" height="500" frameborder="0"></iframe>
      </div>
    </div>

  </div>
</section>