.advantages {

  // .advantages__container

  &__container {
    max-width: 1365px;
  }

  // .advantages__inner

  &__inner {}

  // .advantages__title

  &__title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 1vw, 24px);
    font-weight: 300;
    line-height: 140%;

    @media screen and (min-width: 765px) {
      max-width: 765px;
      margin: 0 auto;
      text-align: left;
    }
  }
  &__title-h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  // .advantages__row

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(70px, 5vw, 100px);
    gap: 50px;
    flex-wrap: wrap;
  }

  // .advantages__col

  &__col {

    @media screen and (max-width: 425px) {
      width: 100%;
    }

    &:nth-child(1) {
      .item-advantages__text {
        max-width: 274px;
      }
    }

    &:nth-child(2) {
      .item-advantages__text {
        max-width: 341px;
      }
    }

    &:nth-child(3) {
      .item-advantages__text {
        max-width: 283px;
      }
    }
  }

  // .advantages__item

  &__item {}
}

.item-advantages {
  @media screen and (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .item-advantages__icon

  &__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 13px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .item-advantages__title

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
  }

  // .item-advantages__text

  &__text {
    font-size: 16px;
    line-height: 150%;
  }
}