
.banner {

  .container{
    @media screen and (min-width: 1200px){
      max-width: 1000px;
    }
  }

  //.banner__inner

  &__inner {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //.banner__title

  &__title {
    color: rgba($color: $white, $alpha: 1.0);
  }

  .breadcrumbs__item{
    color: rgba($color: $white, $alpha: 1.0);
  }

}