.contact{

  //.contact__inner

  &__inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  //.contact__top

  &__top{
    flex: 0 0 30%
  }

  //.contact__title

  &__title{
    text-align: center;
    margin-bottom: 30px;
  }

  //.contact__subtitle

  &__subtitle{
    max-width: 936px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
  }

  //.contact__map

  &__map{}

}
