.contact {

  //.contact__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;

    @media screen and (min-width: 992px){
      margin-top: 80px;
    }

    @media screen and (max-width: 992px){
      flex-direction: column;
    }
  }

  //.contact__top

  &__top {

  }

  //.contact__title

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  //.contact__subtitle

  &__subtitle {
    max-width: 936px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
  }

  //.contact__map

  &__map {
    flex: 1 1 auto;
    height: 500px;
    overflow: hidden;

    @media screen and (max-width: 768px){
      display: none;
    }
  }

  //.contact__search

  &__search {
    @media screen and (min-width: 992px){
      flex: 0 0 400px;
    }
  }

  //.contact__form

  &__form {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb($color: #000000, $alpha: 0.2);
  }

  //.contact__input

  &__input {
  }

  //.contact__address

  &__address {
  }
}

.contact-address {
  height: 500px;
  overflow-y: auto;

  /* Webkit-браузеры */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* IE (ограниченная поддержка) */
  * {
    -ms-overflow-style: auto;
  }

  //.contact-address__card

  &__card {
    display: grid;
    gap: 12px;
    padding: 30px 0px;
    border-bottom: 1px solid rgb($color: #000000, $alpha: 0.2);
  }

  //.contact-address__name

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

  //.contact-address__address

  &__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

  //.contact-address__phone

  &__phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

  //.contact-address__work-time

  &__work-time {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }

}

.contact__page {
  padding: 200px 0px 0px;
}

