.slider-full {

  // .slider-full__wrapper

  &__wrapper {}

  // .slider-full__slide

  &__slide {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    transition: .5s;


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  // .slider-full__container

  &__container {
    width: 100%;
  }

  // .slider-full__slide-inner

  &__slide-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 12;
  }

  // .slider-full__title

  &__title {
    color: rgba(255, 255, 255, 1);
    max-width: 1000px;
    font-size: 56px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 26px;
    transform: translateY(0px);
    opacity: 1;
    transition-duration: .5s;
    transition-delay: .2s;

    @media screen and (max-width: 992px) {
      font-size: 44px;
    }

    @media screen and (max-width: 510px) {
      font-size: 34px;
    }

    @media screen and (max-width: 395px) {
      font-size: 29px;
    }
  }

  // .slider-full__text

  &__text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 155%;
    margin-bottom: 50px;
    transform: translateY(0px);
    opacity: 1;
    max-width: 681px;
    transition-duration: .5s;
    transition-delay: .4s;

    @media screen and (min-width: 510px) {
      font-size: 26px;
    }
  }

  // .slider-full__link

  &__link {
    display: block;
    position: relative;
    margin-top: 30px;
    transform: translateY(0px);
    opacity: 1;


    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: #bebbbb, $alpha: 1.0);
      }
    }

    @media screen and (max-width: 510px){
      margin-top: 0px;
    }
  }

  // .slider-full__pagination

  &__pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px !important;
    z-index: 99;

    @media screen and (min-width: 620px) {
      width: auto !important;
      left: 80% !important;
    }

  }

  .swiper-pagination-bullet {
    opacity: 1;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background-image: conic-gradient(hsla(0, 0%, 51%, 1) 100%, hsla(0, 0%, 51%, 1) 100%);
      position: absolute;
      bottom: 0;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      transition: 1s;
      opacity: 0;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      margin-left: -6px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21), 0px 2px 1px 0px rgba(0, 0, 0, 0.13), 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 5px 1px 0px rgba(0, 0, 0, 0);
      background: rgb(255, 255, 255);
      border-radius: 50%;
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      opacity: 1;
    }
  }

  .swiper-slide-active {

    .slider-full__title,
    .slider-full__text,
    .slider-full__link {
      transform: translateY(0);
      opacity: 1;
    }
  }
}