@use '../_mixins' as flex;
.works {
  padding-top: 110px;

  // .works__container

  &__container {
  }

  // .works__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .works__title

  &__title {
    margin-bottom: 30px;
  }

  //.works__grid

  &__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 24px;
  }

  //.works__item

  &__item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
  }

  // .works__slider

  &__slider {
    width: 100%;
  }

  // .works__wrapper

  &__wrapper {
  }

  // .works__slide

  &__slide {
    position: relative;
    // padding: 0px 0px 45%;
    height: clamp(490px, 35vw, 725px);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .works__dot

  &__dot {
    position: absolute;
    width: 30px;
    height: 30px;
    @include flex.flex-container(center, center);
    background: rgba(255, 255, 255, 0.32);
    border-radius: 50%;
    transition: $animation_speed;

    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: rgba($color: $white, $alpha: 1.0);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21), 0px 2px 1px 0px rgba(0, 0, 0, 0.13), 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 5px 1px 0px rgba(0, 0, 0, 0);
      border-radius: 50%;
      transition: .2s;
    }

    p {
      position: absolute;
      left: 0%;
      top: 100%;
      border-radius: 5px;
      background: rgb(255, 255, 255, 1);
      min-width: 202px;
      padding: 15px 25px;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      pointer-events: none;
      transform: translateX(-10px);
      opacity: 0;
      transition: $animation_speed;
    }


    @media (hover: hover) {
      &:hover {
        span {
          width: 80%;
          height: 80%;
        }

        P {
          pointer-events: all;
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
  }

  // .works__buttons

  &__buttons {
    @include flex.flex-container(center, center);
    gap: 10px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  // .works__prev

  &__prev {
  }

  // .works__next

  &__next {
  }

  &__prev,
  &__next {
    @include flex.flex-container(center, center);
    width: 80px;
    height: 50px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1), 0px 6px 6px 0px rgba(66, 66, 66, 0.09), 0px 15px 9px 0px rgba(66, 66, 66, 0.05), 0px 26px 10px 0px rgba(66, 66, 66, 0.01), 0px 40px 11px 0px rgba(66, 66, 66, 0);
    border: 1px solid rgba($color: $mainColor, $alpha: .05);
    margin-top: 20px;
  }

  // .works__btn

  &__btn {
    margin-top: 40px;
  }
}

.production {
  display: grid;
  gap: 25px;
  margin-bottom: 70px;


  &__item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid rgba($color: $mainColor, $alpha: .03);
    padding: 30px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 100%;
      background: rgba($color: $mainColor, $alpha: .03);
      z-index: -1;
    }

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__image {
    position: relative;
    width: 180px;
    height: 180px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex-shrink: 0;

    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content{}

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 15px;
  }

  &__text {
    line-height: 150%;
  }
}