{% load static %}
<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__col">
        <div class="footer__logo">
          <img src="{% static 'theme/mb/images/logo-dark.png' %}" alt="">
        </div>
        <div class="footer__contact-inner">
          <p class="footer__name">Салон дверей Максимум</p>
          <p class="footer__street">Самара, ул. Карла Маркса, 192</p>
          <div class="footer__contact">
            <span>Номер менеджера :</span>
            <a href="">+7 (987) 955-10-22</a>
          </div>
          <div class="footer__contact">
            <span>Почта для свзяи : :</span>
            <a href="">maximumsila@yandex.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__col-inner">
          <nav class="footer__nav footer-nav">
            <p>О компании</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="">О нас</a></li>
            </ul>
          </nav>
          <nav class="footer__nav footer-nav">
            <p>Каталог</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="">Металлические двери</a></li>
              <li class="footer-nav__item"><a href="">Алюминиевые двери</a></li>
              <li class="footer-nav__item"><a href="">Фурнитура</a></li>
            </ul>
          </nav>
          <nav class="footer__nav footer-nav">
            <p>Доставка и установка</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="">Доставка от компании</a></li>
              <li class="footer-nav__item"><a href="">Самовывоз</a></li>
              <li class="footer-nav__item"><a href="">Установка</a></li>
            </ul>
          </nav>
          <nav class="footer__nav footer-nav">
            <p>Для вас</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="">Подборка дверей</a></li>
              <li class="footer-nav__item"><a href="">Двери в интерьере</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__author">
        Разработка сайта <a href="">РА АВРОРА</a>
      </div>
      <div class="footer__social">
        <a href=""><img src="{% static 'theme/mb/images/icon/telegram-icon.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'theme/mb/images/icon/vk-icon.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'theme/mb/images/icon/phone-icon.svg' %}" alt=""></a>
      </div>
    </div>
  </div>
</footer>