{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="works">
    <div class="container">
      <div class="works__inner">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'works' %}" itemprop="itemListElement" itemscope=""
             itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
            Наши работы
            <meta itemprop="position" content="2"/>
          </a>
        </div>
        <h2 class="works__title title-h2">Наше производство</h2>
        <div class="works__production production">
          <div class="production__item">
            <div class="production__image">
              <img src="{% static 'theme/img/scale_1200.jpg' %}" alt="">
            </div>
            <div class="production__cotent">
              <p class="production__title">Монтаж металлоконструкции</p>
              <p class="production__text">
                Из стального профиля собирается дверная коробка и полотно. Для усиления привариваются ребра жесткости,
                внутри полотна прокладывается утеплитель.
              </p>
            </div>
          </div>
          <div class="production__item">
            <div class="production__image">
              <img src="{% static 'theme/img/poroshok.jpg' %}" alt="">
            </div>
            <div class="production__cotent">
              <p class="production__title">Покрасочные работы</p>
              <p class="production__text">
                Дверь очищается, обезжиривается, грунтуется.На поверхность наносят нитроэмаль или производится
                порошковое напыление в специальных камерах.
              </p>
            </div>
          </div>
          <div class="production__item">
            <div class="production__image">
              <img src="{% static 'theme/img/BBGO3HM9a4ugC42GtlaH.jpg' %}" alt="">
            </div>
            <div class="production__cotent">
              <p class="production__title">Отделка</p>
              <p class="production__text">
                Дверное полотно декорируется выбранным заказчиком типом отделки, предусмотренным проектом
                (ламинат, МДВ, массив и т.п.). Монтируются элементы стекла, витражи, ковка.
              </p>
            </div>
          </div>
          <div class="production__item">
            <div class="production__image">
              <img src="{% static 'theme/img/ustanovka-dverey.jpg' %}" alt="">
            </div>
            <div class="production__cotent">
              <p class="production__title">Окончательная сборка готового изделия</p>
              <p class="production__text">
                Устанавливается фурнитура, прокладывается утиплитель. Изделие проходит контроль качества перед отправкой
                заказчику.
              </p>
            </div>
          </div>
        </div>
        <h2 class="works__title title-h2">Наши работы</h2>
        <div class="works__grid">
          <div class="works__item" style="background-image: url({% static 'theme/img/work/1.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/2.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/3.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/4.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/5.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/6.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/7.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/8.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/9.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/10.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/11.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/12.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/14.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/15.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/16.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/17.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/18.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/19.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/20.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/21.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/22.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/23.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/24.jpg' %})"></div>
          <div class="works__item" style="background-image: url({% static 'theme/img/work/25.jpg' %})"></div>
        </div>
        <!--        <a href="" class="works__btn btn btn&#45;&#45;shadow">Смотреть все</a>-->
      </div>
    </div>
  </section>
</main>
{% endblock %}